body{
    padding: 0%;
    margin: 0%; 
    width: 100%;
    height: 100vh;
    background-image: url(../../public/roadbg.png);
}
.about-us-page{
    padding: 0%;
    margin: 0%;
}

.about-us-page .navbar{
    background: #8E2841;
    margin: 0%;
}

#aboutus_heading{
    margin-top: 50px;
    margin-left: 10px;
}

#aboutus_sub_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

#aboutus_button button{

    background-color: #8E2841;
    color: white; /* Text color */
    padding: 10px 10px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    margin-right: 0px; /* Margin between buttons */
    margin-top: 5px; /* Margin between buttons */
    cursor: pointer;
    margin-bottom: 10px;
     
}


