.bikes-page{
    /* display: grid;
    grid-template-columns: 0.75fr 3fr; */
    display: flex;
}

.filters-sec{
    background-color: #8E2841;
    color: white;
    height: auto;
    /* position: relative; */
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;

    
}

.filters-sub{
    position: absolute;
    left: 0;
    width: 100%;
    /* margin-top: 50px; */

    
}

.filters-sub ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.filters-sub li{
    list-style: none;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 300;
    margin:0;
    padding: 20px;    
}

.filters-sub ul img{
   
    margin-bottom: 0px;
    
    width: 20px;
}

.filters-sub h1 img{
    padding-right: 15px;
}

.filters-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters-sub h1 {
    padding-right: 15px;
    margin-top: 40px;
    
}

.filters-sub ul #hr{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.bikes-sec{
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: auto 3fr;
    margin-left:270px;
    flex: 1;
 
}

.bikes-Nav{
    background-color: #1e1e1e;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.bikes-Nav h1{
    /* padding: 20px; */
    margin-left: 50px;
    font-weight: bolder;
    font-size: 3em;
    color: white;
}

.Search-bar {
    padding: 30px;
    /* margin: 30px; */
}
.Search-bar input{
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-radius: 10px;
    /* margin: 30px; */
}

::placeholder {
    /* color: red; */
    opacity: 1; /* Firefox */
    padding: 20px;
    
    width: 100%;
  }
  .Search-bar {
    position: relative; /* Set position to relative */
}

.search-icon {
    position: absolute; /* Set position to absolute */
    left: 50px; /* Adjust the left position to position the icon */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%); /* Adjust for vertical centering */
}

.search-input {
    padding-left: 20px; /* Add padding to the left to make space for the icon */
}




.bikes-Grid{
    background-color: #1e1e1e;

    
    
}

.bikes-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    margin: 50px;
}
.card img{

    padding: 0;
    border-radius: 20px;
    margin: 0;
    width:100%;
    max-width:180px;
    height:auto;
    height: 115px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    max-width:260px;
    border-radius: 20px;
    height: 300px;
    border: 1px ridge rgb(255, 255, 255);
    
}

.card:hover
{
    border: 3px solid #ffffff;
}

.card p{
    padding: 3px;
    margin: 2px;
    margin-left: 20px;
    font-size: medium;
    font-weight: bold;
    color: white;
    /* flex: 1;  */
}

.card button{
    background-color: #1e1e1e;
    border: 0;
}

.price p{
    margin-right: 100px;
    color: rgb(60, 255, 0);

}

.price button{
    margin-right: 20px;
    color: white;
}

.price{
    display: flex;
}

.buynow-btn button{
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(91, 84, 84);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
}

.buynow-btn button:hover{
    color: #8E2841;
    border:2px;
}

.bikes-content a{
    text-decoration: none;
}

.bikes-sec .navbar{
    position: static;
    background-color: #8e2841;
    
}
.bikes-sec {
    display: flex;
    flex-direction: column;
  }
  
  .inherited-nav {
    margin-top: -50px;
  }
  .bikes-Nav {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
  }

  .bikes-Nav .left-sec {
    display: flex;

  }
  .left-sec ul{
    margin-top: 40px;
    position: relative;

  }

  .bikescart span{
    position: absolute;
    top: -10px;
    width: 10px;
    background-color: #8e2841;
    color: #ffffff;
    border-radius: 50%;
    padding: 6px;
    padding-top:2px;
    padding-bottom:2px;
    


  }


@media (max-width:768px){

    .filters-sec{
        display:none;
    }

    .bikes-sec{
        margin-left:0;
    }
        .bikes-content{
        grid-template-columns:1fr;
        justify-items:center;
        margin:20px;
        gap:25px;
    }
    .bikes-Nav{

    flex-direction:column;
    align-items:center;

}

.bikes-Nav h1{

    margin:20px 0;

}

.left-sec{

    width:100%;
    flex-direction:column;
    align-items:center;

}

.Search-bar{

    width:90%;
    padding:20px;

}

.Search-bar input{

    width:100%;

}
.bikes-sec{

    margin-left:0;

}

}