body{
    background-color: #1E1E1E;
    color: #ffffff;
}

.checkout-page .navbar{
    background-color:#8E2841;
    height: 50px;
    margin: 0;
}

.checkout-page .navbar {
    background-color: #8E2841;
    height: auto; /* Set height to auto */
    position: relative; /* Ensure relative positioning for absolute children */
  }

.checkout-body{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin-left: 20px;

}

.cart-summary-sec{
    background-color: black;
}

.checkout-body h1{
    margin-left: 20px;


    

}


.stages{
    display: flex;
    align-items: center; 
}

.stages hr{
    width: 430px;
    margin-bottom: 50px;
    /* background-color: #8E2841; */
    border-color: #8E2841; 

}

.stages img{
    width: 80px;
}

.billing-info {
    background-color: black;
    margin: 40px;
}

.billing-info #heading1{
    margin-top: 0; /* Reset margin-top */
    margin-bottom: 50px;
    margin-left: 70px;
}

.billing-info .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    

}

.inputs-left {
    margin-left: 100px;
}

.inputs-left, .inputs-right{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.inputs input{
    width: 350px;
    height: 35px;
    margin-bottom: 20px;
    background-color: black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    box-shadow: 1px 1px 75px rgb(61, 59, 59);
}
  

